<div class="container">
  <div class="jumbotron">
    <h1>About</h1>
    <div class="hero">
		    <img class="img-fluid img-thumbnail" src="https://i.imgur.com/QIwtYQL.jpg" alt="building things" />
	  </div>
    <p class="lead">Investing in the futre of society by unlocking the talents of women and children in the society</p>
  </div>
  <section>
    <p>Conzultrix Impact is a three-pronged effort to empower some of the most
      disadvantaged persons in society. The approach is to:</p>
    <ol>
      <li><p>Provide children with critical foundational skills, competencies, and
        mindsets by nurturing the natural creativity inherent in all children
        through computer programming and design classes. This will develop their
        critical thinking abilities as they grow to provide innovative solutions
        to various challenges in the society.</p>
      </li>
      <li>
        <p>Encourage and empower women to take up more active roles in science,
        technology, leadership, business, and design by exposing them to a
        relevant training and mentoring system.</p>
      </li>
      <li><p>Equip teachers and trainers with the requisite tools and knowledge to
        effectively engage the minds of the children they interact with thereby
        creating a multiplier effect.</p>
      </li>
    </ol>
    <p>
    Our goal is to build a self reliant society by exposing our participants to
    computer and manufacturing skills so that our young minds can have the know
    how to develop the technologies that would drive economic development.
    </p>
    <p>
      We want to develop that girl child that will design and print her own circuit
      boards, solder components onto the boards and write the embedded programme
      that would enable her devices decide whether to slide the gate open (or not)
      by first scanning the vehicle registration number and the face of the driver.
    </p>
    <p>
      We hope to build vocational skills such as tool design so that a lad can
      design the die that would stamp the sheet metal body of the next made-in-Nigeria
      cars or the cutting tool that would be used to machine a robotic arm.
    </p>
    <p>
      Ultimately we are looking at building an inclusive and technically sound
      society - with active participation of women - that can provide innovative
      solutions to adequately meet our needs locally. With your support we can
      empower that rural kid or woman and enhance local productivity.
    </p>
  </section>
</div>
