<ul class="list-inline" id="amount-list" ng-click="enterAmount($event)">
    <li class="list-inline-item mb-2" ng-repeat="amount in resource.locale[resource.country_code].amounts"><button class="btn btn-outline-secondary" data-amount="{{ amount }}">{{ amount | currency : "$" : 0 }}</button></li>
    <li class="list-inline-item mb-2"><button class="btn btn-outline-secondary">other amount</button></li>
</ul>
<div class="form-inline">
<div class="form-group">
  <label for="donationAmount" class="sr-only">Amount</label>
  <div class="input-group input-group-lg">
    <div class="input-group-prepend">
      <span class="input-group-text form-control-lg">$</span>
    </div>
    <input type="number" name="amount" class="form-control form-control-lg"
    id="donationAmount" placeholder="Enter Amount" min="1" ng-model="$parent.donationamount"
    ng-class="{ 'is-invalid' : donationForm.amount.$invalid && !donationForm.amount.$pristine}" required>
  </div>
</div>
<button type="submit" class="btn btn-success ml-1 btn-lg" ng-disabled="donationForm.$invalid">DONATE</button>
</div>
{{ resource.locale[country_code] }}
