<div class="container">
<div class="row faq">
 <div class="col-lg-10">
    <h3>FAQ</h3>
    <div class="accordion" id="accordionFAQ">

      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="d-flex align-items-center justify-content-between btn
            btn-link" data-toggle="collapse" data-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
                How much can I contribute?
                <span class="fa-stack fa-sm">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-minus fa-stack-1x fa-inverse"></i>
                </span>
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionFAQ">
          <div class="card-body">
            Little drops of water… We are happy to know that you identify with
            our goal so it’s not about how much you contribute, each $1 or &#8358;50
            takes us closer to our goal of truly empowering our women and
            building up the kids that would enhance our living tomorrow.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="d-flex align-items-center justify-content-between btn
            btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="false" aria-controls="collapseTwo">
              I don’t have money, how else can I help?
              <span class="fa-stack fa-sm">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
              </span>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
        data-parent="#accordionFAQ">
          <div class="card-body">
            Just to reiterate; it’s not about the amount you contribute but the
            spirit of identifying with our goal of truly investing in our women and
            children be it by your $1 or &#8358;50. However, you can also click to share
            on your social media platform and let your friends know what we can
            achieve together.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="d-flex align-items-center justify-content-between btn
            btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
            aria-expanded="false" aria-controls="collapseThree">
              There are lots of similar projects, how is this different?
              <span class="fa-stack fa-sm">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
              </span>
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
        data-parent="#accordionFAQ">
          <div class="card-body">
            We are not just going to be teaching women and children how to write
            codes but taking a very comprehensive approach to developing critical
            thinking, problem solving, designing, manufacturing, and creating physical objects.
            We want our participants to be the consummate engineer, holding up a
            piece of device and saying I made this.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="d-flex align-items-center justify-content-between btn
            btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
            aria-expanded="false" aria-controls="collapseFour">
              Really what inspired this project?
              <span class="fa-stack fa-sm">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
              </span>
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
        data-parent="#accordionFAQ">
          <div class="card-body">
            Ok we'll come clean to the very beginning. It all started with an
            online course: Startup Engineering taught by Balaji S. Srinivasan
            at Stanford and also ran on Coursera. The course is regarded
            as a spiritual sequel to Peter Thiel's CS183 course on startups also at Stanford.
            It bridges the gap between academic computer science and production
            software engineering. So we decided to apply the course to solving a
            very pressing challenge in our society today and we strongly plan to
            teach a similar course purposed for a Nigerian ordinance so that they too
            can think up solutions and build great businesses.
          </div>
        </div>
      </div>

    </div>

   </div>
 </div>
</div>

<script>
  $("#accordionFAQ").on("hide.bs.collapse show.bs.collapse", e => {
    $(e.target)
      .prev()
      .find("i:last-child")
      .toggleClass("fa-minus fa-plus");
  });

  $("#accordion").on("shown.bs.collapse", e => {
  $("html, body").animate(
    {
      scrollTop: $(e.target)
        .prev()
        .offset().top
    },
    400
  );
});
</script>
