<div class="container">
    <hgroup>
        <h1>Conzultrix Impact</h1>
        <h2 class="lead">Advancing Society by Empowering Women and Children in Science Technology, Engineering, and Mathematics. </h2>
  	</hgroup>


    <div class="row pitch">
      <div class="col-lg">
  	     <div class="video embed-responsive embed-responsive-16by9">
           <iframe class="embed-responsive-item" width="570" height="334" src="https://www.youtube.com/embed/3C7mNmBdG0c"
           frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
           allowfullscreen></iframe>
  	        <!--<img class="img-polariod" src="http://placehold.it/480x300"> -->
  	     </div>
       </div>

	    <!-- We define a new 'actions' div to contain statistics, order, and share buttons. -->
      <div class="col-lg">
	    <div class="actions">
	       <div class="col-lg-8 offset-lg-2">
	          <div class="statistics">
              <div class="row">
  	             <div class="col-lg-4">
  		               <!-- linediv-l and linediv-r give dividing lines that look
                       different in horizontal and vertical layouts, illustrating
                       media queries.  -->
  		               <div class="linediv-l">
  		                   <h3>{{ donations.backers }}</h3> <p>backers</p>
  		               </div>
  	            </div>
  	            <div class="col-lg-4">
  		              <div class="linediv-c">
                      <div ng-show="resource.country_code == 'NG'">
  		                  <h3>{{ donations.donations_NGN | currency : "&#8358;" : 0 }}</h3>
                        <p>of {{ donations.target_NGN | currency : "&#8358;" : 0}}</p>
                      </div>
                      <div ng-hide="resource.country_code == 'NG'">
                        <h3>{{ donations.donations_USD | currency : "$" : 0 }}</h3>
                        <p>of {{ donations.target_USD | currency : "$" : 0}}</p>
                      </div>
  		             </div>
  	           </div>
  	          <div class="col-lg-4">
  	             <div class="linediv-r">
  		               <h3>{{ donations.days_left }}</h3> <p>days left</p>
  	             </div>
  	         </div>
           </div>
	       </div>
	   </div>
	  <div class="col-10 offset-1">
	    <!-- Bootstrap progress bar -->
	    <div class="thermometer progress active" style="height: 20px;">
        <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ progress }}%"
        aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
	    </div>
	  </div>
	   <action></action>
	</div> <!-- end action -->
</div>
 </div>
</div>

      <!-- Beyond this part the marketing copy begins.  -->
      <!-- https://developer.mozilla.org/en-US/docs/web/CSS/text-align -->
      <!-- http://twitter.github.io/bootstrap/base-css.html#images -->
      <!-- http://placehold.it -->
  <div class="row section1 jumbotron jumbotron-fluid">
    <div class="container">
      <div class="row">
    	  <div>
    	     <p class="lead">
    	        Conzultrix Impact is a project that aims to sow the seeds of technological
              advancement through the participation of women and children by empowering
              them in the fields of Computer programming, Design, Engineering,
              and Business, through mentorship and training.
              This would enable them develop their critical thinking skills and
              build their leadership capacity.
    	     </p>
    	  </div>
        <div class="hero">
        <img class="img-fluid img-thumbnail" src="https://i.imgur.com/OBf1cnW.jpg" alt="typical public school classroom" />
      </div>
      </div>
    </div>
  </div>

<div class="container">
       <section id="planning">

	      <h2>What are we planning?</h2>
        <div class="row">
        <div class="col-lg-5">
          <img class="img-fluid img-thumbnail ml-lg-3 mb-4" src="https://i.imgur.com/tQa7AP6.jpg" alt="Raspberry Pi 3">
    	  </div>
        <div class="col-lg-7 order-lg-first">
        <p>
          We will be setting up a training facility with two classrooms and a design/prototyping studio.
        </p>
        <p>
          The first class would be set up for children between the ages of 9 to 18 to learn computer programming
          using the Raspberry Pi. The device, being a simple board would provide the kids with the thrill of seeing
          the internal mechanics of the computer while using it as a tool to solve real life problems.
          The students would be selected from local secondary schools (mostly public schools) and the
          training would be at no cost to the participants.
          Promising students would be provided with their own Raspberry Pi kit for use at home.
      </p>
      <p>
        The second class would be a full scale training facility to cover higher level courses such
        as software development, computer aided design, machine learning, computer aided manufacture,
        tools design, business development, design, and design thinking.
        The goal is to develop a strong technological base that would ultimately drive
        innovation in the society at large. These courses would be taken at a fee;
        however, 2 seats would be reserved for women who would take the classes at no cost.
        Charging for these courses would enable us sustain the free classes for the children.
      </p>
      <p>
        The Design studio would be fitted with work benches and prototyping materials such as
        Lego blocks, clay, foam, foam core, cardboard, and 3D printer.
        Young children from the age of 5 would be allowed to express their natural creativity
        while older students would use the studio to bring their ideas to life.
      </p>
    </div>
    </div>
    </section>
  </div>

    <section id="inspiration">
      <div class="container">
      <h2>What Inspired the Project?</h2>
      <div class="row">
        <div class="col-lg-5">
          <img class="img-fluid img-thumbnail mr-lg-3 mb-4" src="https://i.imgur.com/X5wpegF.jpg" alt="Design">
    	  </div>
        <div class="col-lg-7">
      <p>
        The effect of poverty is palpable on the streets of Nigeria with women and children
        being the most vulnerable. Education has always been a means to liberate the minds and lives
        of the society. However, with poorly equipped public schools, undertrained teachers
        and little or no access to books and internet facilities,
        the average Nigerian child faces a bleak future.
        But we believe in a brighter future and we believe we can make it happen.
      </p>
      <p>
        The challenge of providing targeted and relevant education cannot be left to the government alone.
        Besides, government solutions are often met with inefficiencies in implementation.
      </p>
      <p>
        Providing women with relevant skills and experience would enable them create successful
        businesses from building innovative solutions. A popular African saying goes:
        If you empower a woman you empower a nation.
      </p>
      <p>
        By exposing children today to computer programming skills, we are building
        a more productive workforce for the future. Programming skills don’t just teach programming,
        they enhance our ability to think about creating solutions.
        Growing up with these critical thinking skills is about the greatest gift
        we can give these kids and the society at large.
      </p>
    </div>
    </div>
  </div>
    </section>

    <div class="container">
    <section id="schedule">
      <h2>What’s our plan and schedule?</h2>
      <div class="row">
        <div class="col-lg-5">
          <img class="img-fluid img-thumbnail ml-lg-3 mb-4" src="https://i.imgur.com/OEM0OGi.jpg" alt="classroom">
    	  </div>
        <div class="col-lg-7 order-lg-first">
      <p>
        We are looking at a 3 year execution period during which we will train 1,000
        secondary school students in computer programming using the Raspberry Pi.
        The classes would run in batches of 20 students per class.
        At least 100 Raspberry Pi devices would be provided to promising students
        to consolidate their learning at home.
      </p>
      <p>
        We also intend to provide free computer programming training to 100
        secondary school teachers while encouraging them to teach their students;
        possibly in science clubs.
      </p>
      <p>
        It is our goal to advocate and provide support for the expansion of the
        current secondary school computer science curriculum to include computer
        programming so as to make critical thinking skills more mainstream.
      </p>
      <p>
        Our reach would be broadened by hosting events, seminars, and workshops
        at secondary schools and institutions of higher learning to keep them
        informed on trends to guide them in their career choices.
      </p>
      <p>
          We will be bringing design to the mainstream by providing design trainings from age 5 to adulthood.
      </p>
      <p>
          Internship opportunities would be provided for university students
          where they would be exposed to software development teams and methods.
      </p>
      <p>
        Beyond the 3 year period, we shall sustain the project but without the need for external funding
        because Conzultrix Impact would be a core part of our corporate value
        hence our other business interests should adequately provide the necessary funding.
      </p>
    </div>
  </div>
    </section>
  </div>


    <section id="budget">
      <div class="container">


      <h2>What is our budget?</h2>
      <div class="row">
        <div class="col-lg-5">
      <img class="img-fluid img-thumbnail mr-lg-3 mb-4" src="https://i.imgur.com/536kBML.jpg" alt="budget planning" />
    </div>

      <div class="col-lg-7">
      <p>
        We are hoping to raise the equivalent of $55,000 or &#8358;20,000,000 to cover equipments,
        facilities, furnishing, utility, security, insurance, and basic salary for 4 staff for 3 years.
      </p>
      <action></action>
    </div>
    </div>
  </div>
    </section>

    <div class="container">
  <!--<div class="row faq">
	   <div class="col-10">
	      <h3>FAQ</h3>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    What does FAQ stand for?
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                Frequently Asked Question.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  What's a Frequently Asked Question?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                A question which is commonly asked by users.
              </div>
            </div>
          </div>
        </div>
	     </div>

     </div> -->
   </div>
