<div ng-controller="SupportCtrl">
<div class="container">
<div class="jumbotron">
	<h1>Support</h1>
	<p class="lead">Contributors shall receive quarterly reports, for a 3 year period, detailing activities, activements, and personal user stories form beneficiaries of the project. Photographs and videos would also be shared as well as personalised thank you messages from those you have touched</p>
</div>
<div class="support-form">
	<form name="donationForm" ng-submit="donationForm.$valid && processDonation()" novalidate>

  		<div class="form-row">
    		<div class="col">
    			<div class="form-group">
    				<label for="supportFirstname" class="sr-only">Frist Name</label>
      			<input type="text" class="form-control" placeholder="First name" name="firstname" id="supportFirstname" ng-model="fname" autofocus>
    			</div>
    		</div>
    		<div class="col">
    			<div class="form-group">
    				<label for="supportLastname" class="sr-only">Last Name</label>
      			<input type="text" class="form-control" placeholder="Last name" name="lastname" id="supportLastname" ng-model="lname">
      		</div>
    		</div>
  		</div>
  		<div class="form-group">
  			<label for="supportEmail" class="sr-only">Email</label>
  			<input type="email" class="form-control" name="email" placeholder="Enter email" id="supportEmail" ng-model="email"
				ng-class="{ 'is-invalid' : donationForm.email.$invalid && !donationForm.email.$pristine}" required>
				<p ng-show="donationForm.email.$invalid && !donationForm.email.$pristine" class="help-block">Enter a valid email.</p>
  		</div>
  		<hr>
  		<div class="donation-box border border-secondary p-3">
				<div class="row">
					<div class="col-lg-4 order-lg-last">
						<button class="btn btn-info btn-sm mb-3 float-right" ng-click="toggleCur($event, resource.country_code)">
							{{ resource.locale[resource.country_code].alt }}
						</button>
					</div>
					<div class="col-lg-8">
						<h2 class="locale-intent">I would like to contribute: </h2>
					</div>
				</div>
				<donation-ng ng-if="resource.country_code === 'NG'"></donation-ng>
				<donation-un ng-if="resource.country_code === 'UN'"></donation-un>
  	</div>
	</form>
</div>
</div>
</div>
