<div ng-controller="SupportCtrl">
	{{ country_code }}

<div class="container">
<div class="jumbotron">
	<h1>Support</h1>
	<p class="lead">Contributors shall receive quarterly reports, for a 3 year period, detailing activities, activements, and personal user stories form beneficiaries of the project. Photographs and videos would also be shared as well as personalised thank you messages from those you have touched</p>
</div>
<div class="support-form">
	<form>
  		<div class="form-row">
    		<div class="col">
    			<div class="form-group">
    				<label for="supportFirstname" class="sr-only">Frist Name</label>
      			<input type="text" class="form-control" placeholder="First name" name="firstname" id="supportFirstname" autofocus>
    			</div>
    		</div>
    		<div class="col">
    			<div class="form-group">
    				<label for="supportLastname" class="sr-only">Last Name</label>
      			<input type="text" class="form-control" placeholder="Last name" name="lastname" id="supportLastname">
      		</div>
    		</div>
  		</div>
  		<div class="form-group">
  			<label for="supportEmail" class="sr-only">Email</label>
  			<input type="email" class="form-control" name="email" placeholder="Enter email" id="supportEmail">
  		</div>
  		<hr>
  		<div class="donation-box border p-3">
  			<h2 class="locale-intent">I would like to contribute: </h2>
  			<ul class="list-inline amount-list">
  					<li class="list-inline-item mb-2" ng-repeat="amount in locale.NG.amounts"><button class="btn btn-outline-secondary btn-small" data-amount="{{ amount }}">{{ amount | currency : "&#8358;" : 0 }}</button></li>
  					<li class="list-inline-item mb-2"><button class="btn btn-outline-secondary btn-small">other amount</button></li>
  			</ul>
  			<div class="form-inline">
  			<div class="form-group">
  				<label for="donationAmount" class="sr-only">Amount</label>
  				<div class="input-group input-group-lg">
  					<div class="input-group-prepend">
  						<span class="input-group-text form-control-lg">&#8358;</span>
  					</div>
  					<input type="number" name="amount" class="form-control form-control-lg" id="donationAmount" placeholder="Enter Amount">
  				</div>
  			</div>
  			<button type="submit" class="btn btn-success ml-1 btn-lg">DONATE</button>
  		</div>
  	</div>
  		

	</form>
</div>
</div>
</div>